{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": false
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "lines-between-class-members": 0,
    "no-plusplus": 0
  }
}
